<div x-cloak :class="signInPanelOpen ? 'opacity-[1]' : 'opacity-0 pointer-events-none'" class="transition-opacity flex fixed top-0 left-0 w-screen h-screen z-[1001]">

    <div :class="signInPanelOpen ? 'opacity-1' : 'opacity-0'" class="flex flex-col bg-white m-auto w-full max-w-[690px]  border border-green max-h-[90%] z-[2]">
        <div class="flex p-[30px] border-b border-green">
            <span class="text-[40px] leading-[40px] uppercase">Sign In</span>
            <a href="https://customer.login.shopify.com/lookup?rid=237be64f-39bd-41fb-8c46-43d26864ca54" class="text-[19px] hover:bg-green hover:text-white transition-all uppercase pt-[12px] pb-[9px] px-[22px] border border-green text-center ml-auto">Create Account</a>
        </div>

        <div class="flex flex-col px-[30px] py-[60px] gap-y-[60px]">
            {%- form 'customer_login', novalidate: 'novalidate' -%}
                <div class="flex flex-col gap-y-[19px]">
                    <input 
                        type="email"
                        name="customer[email]"
                        id="customerEmail"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        placeholder="Email Address"
                        class="w-full border border-green py-[18px] px-[20px] text-[18px]">
                    <input 
                        type="password"
                        name="customer[password]"
                        id="customerPassword"
                        placeholder="Password"
                        class="w-full border border-green py-[18px] px-[20px] text-[18px]" >
                    <button type="submit" class="bg-green text-white py-[18px] px-[20px] text-[18px] uppercase">Sign In</button>
                    <a href="#" class="underline text-[16px]">Forgot Password?</a>
                </div>
            {%- endform -%}

            <div class="hidden grid grid-cols-2 gap-x-[30px] gap-y-[20px]">
                <button class="flex text-[16px] border border-green py-[15px] px-[20px]">
                    <span>Sign in with Facebook</span>
                    <svg class="h-[22px] ml-auto" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0c6.075 0 11 4.925 11 11 0 5.49-4.023 10.041-9.281 10.866V14.18h2.563L15.77 11h-3.051V8.937c0-.11.006-.218.02-.324.101-.745.577-1.394 1.772-1.394h1.387V4.512s-1.106-.19-2.236-.213l-.226-.002c-2.512 0-4.155 1.523-4.155 4.28V11H6.488v3.18h2.793v7.686C4.023 21.041 0 16.49 0 11 0 4.925 4.925 0 11 0Z" fill="#323E25" />
                    </svg>
                </button>
                <button class="flex text-[16px] border border-green py-[15px] px-[20px]">
                    <span>Sign in with Google</span>
                    <svg class="h-[22px] ml-auto" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21">
                        <path d="M9.988 0h.721c2.504.054 4.966 1.061 6.735 2.844-.653.667-1.32 1.306-1.959 1.973-.993-.898-2.19-1.592-3.497-1.837-1.932-.408-4.014-.04-5.633 1.061-1.77 1.157-2.966 3.116-3.225 5.212-.286 2.068.3 4.245 1.646 5.85a7.283 7.283 0 0 0 5.307 2.613c1.905.109 3.892-.476 5.28-1.81 1.088-.938 1.592-2.367 1.755-3.755-2.259 0-4.518.014-6.776 0V9.348h9.51c.49 3.007-.217 6.395-2.503 8.545-1.524 1.524-3.633 2.422-5.783 2.599-2.082.204-4.232-.19-6.082-1.198-2.218-1.183-3.987-3.184-4.858-5.537-.816-2.164-.83-4.613-.068-6.79A10.36 10.36 0 0 1 4.3 2C5.947.79 7.947.122 9.988 0Z" fill="#323E25" />
                    </svg>
                </button>
                <button class="flex text-[16px] border border-green py-[15px] px-[20px]">
                    <span>Sign in with Twitter</span>
                    <svg class="h-[22px] ml-auto" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 18">
                        <mask id="twitter" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="18">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h21.6v17.555H0V0Z" fill="#fff" />
                        </mask>
                        <g mask="url(#twitter)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.793 17.555c8.151 0 12.609-6.753 12.609-12.61 0-.191-.004-.382-.013-.572A9.016 9.016 0 0 0 21.6 2.078a8.849 8.849 0 0 1-2.545.698A4.447 4.447 0 0 0 21.004.325 8.88 8.88 0 0 1 18.19 1.4a4.432 4.432 0 0 0-7.552 4.042A12.581 12.581 0 0 1 1.503.812c-.38.654-.6 1.415-.6 2.227 0 1.538.783 2.895 1.972 3.689a4.399 4.399 0 0 1-2.007-.555v.057a4.433 4.433 0 0 0 3.555 4.345 4.443 4.443 0 0 1-2.002.075 4.436 4.436 0 0 0 4.14 3.078 8.893 8.893 0 0 1-5.504 1.897c-.357 0-.71-.02-1.057-.061a12.545 12.545 0 0 0 6.793 1.99Z" fill="#323E25" />
                        </g>
                    </svg>
                </button>
                <button class="flex text-[16px] border border-green py-[15px] px-[20px]">
                    <span>Sign in with LinkedIn</span>
                    <svg class="h-[22px] ml-auto" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <g clip-path="url(#linkedin)">
                            <path d="M17.041 17.041h-2.963v-4.64c0-1.107-.02-2.532-1.541-2.532-1.544 0-1.78 1.206-1.78 2.45v4.722H7.794V7.497h2.844v1.305h.04a3.118 3.118 0 0 1 2.806-1.541c3.004 0 3.558 1.975 3.558 4.545v5.235ZM4.45 6.193a1.72 1.72 0 1 1-.001-3.44 1.72 1.72 0 0 1 0 3.44ZM5.932 17.04H2.965V7.497H5.93v9.544ZM18.519.001H1.476A1.46 1.46 0 0 0 0 1.443v17.115A1.46 1.46 0 0 0 1.476 20h17.043A1.464 1.464 0 0 0 20 18.557V1.444A1.463 1.463 0 0 0 18.518.001Z" fill="#323E25" />
                        </g>
                        <defs>
                            <clipPath id="linkedin">
                                <path fill="#fff" d="M0 0h20v20H0z" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                <button class="flex text-[16px] border border-green py-[15px] px-[20px]">
                    <span>Sign in with Instagram</span>
                    <svg class="h-[22px] ml-auto" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C7.284 0 6.944.012 5.877.06 4.813.11 4.086.278 3.45.525a4.901 4.901 0 0 0-1.772 1.153A4.902 4.902 0 0 0 .525 3.45C.278 4.086.109 4.813.06 5.877.011 6.944 0 7.284 0 10s.011 3.056.06 4.123c.049 1.064.218 1.791.465 2.427a4.903 4.903 0 0 0 1.153 1.772 4.903 4.903 0 0 0 1.772 1.153c.636.247 1.363.416 2.427.465 1.067.048 1.407.06 4.123.06s3.056-.012 4.123-.06c1.064-.049 1.791-.218 2.427-.465a4.903 4.903 0 0 0 1.772-1.153 4.903 4.903 0 0 0 1.153-1.772c.247-.636.416-1.363.465-2.427.048-1.067.06-1.407.06-4.123s-.012-3.056-.06-4.123c-.049-1.064-.218-1.791-.465-2.427a4.903 4.903 0 0 0-1.153-1.772A4.902 4.902 0 0 0 16.55.525C15.914.278 15.187.109 14.123.06 13.056.012 12.716 0 10 0Zm0 1.802c2.67 0 2.986.01 4.04.058.976.045 1.505.207 1.858.344.466.182.8.399 1.15.748.35.35.566.683.748 1.15.137.353.3.882.344 1.857.048 1.055.058 1.37.058 4.041 0 2.67-.01 2.986-.058 4.04-.045.976-.207 1.505-.344 1.858a3.1 3.1 0 0 1-.748 1.15c-.35.35-.684.566-1.15.748-.353.137-.882.3-1.857.344-1.055.048-1.37.058-4.041.058-2.67 0-2.987-.01-4.04-.058-.976-.045-1.505-.207-1.858-.344a3.098 3.098 0 0 1-1.15-.748 3.099 3.099 0 0 1-.748-1.15c-.137-.353-.3-.882-.344-1.857-.048-1.055-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.045-.976.207-1.505.344-1.858.182-.467.399-.8.748-1.15.35-.35.683-.566 1.15-.748.353-.137.882-.3 1.857-.344 1.055-.048 1.37-.058 4.041-.058Z" fill="#323E25" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 13.333a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666Zm0-8.468a5.135 5.135 0 1 0 0 10.27 5.135 5.135 0 0 0 0-10.27ZM16.538 4.662a1.2 1.2 0 1 1-2.4 0 1.2 1.2 0 0 1 2.4 0Z" fill="#323E25" />
                    </svg>
                </button>
                <button class="flex text-[16px] border border-green py-[15px] px-[20px]">
                    <span>Sign in with Amazon</span>
                    <svg class="h-[22px] ml-auto" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20">
                        <path d="M.04 15.52c.066-.107.173-.113.319-.02 3.321 1.933 6.935 2.9 10.842 2.9 2.604 0 5.175-.487 7.713-1.46l.289-.12c.126-.053.216-.093.269-.12.199-.08.355-.04.468.12.113.16.076.307-.11.44-.239.173-.544.373-.916.6-1.143.68-2.419 1.207-3.827 1.58s-2.784.56-4.126.56c-2.072 0-4.032-.363-5.879-1.09A16.181 16.181 0 0 1 .12 15.84c-.08-.067-.12-.133-.12-.2 0-.04.013-.08.04-.12Zm5.999-5.7c0-.92.226-1.707.677-2.36.452-.653 1.07-1.147 1.854-1.48.717-.307 1.601-.527 2.65-.66.36-.04.944-.093 1.755-.16v-.34c0-.853-.093-1.427-.28-1.72-.279-.4-.717-.6-1.315-.6h-.16c-.438.04-.817.18-1.135.42-.32.24-.525.573-.618 1-.053.267-.186.42-.399.46L6.776 4.1c-.226-.053-.339-.173-.339-.36a.59.59 0 0 1 .02-.14c.226-1.187.78-2.067 1.664-2.64.884-.573 1.917-.893 3.1-.96h.498c1.515 0 2.697.393 3.547 1.18.134.134.257.278.37.43.112.153.202.29.268.41.067.12.126.293.18.52.053.227.093.383.12.47.026.087.046.273.059.56.013.287.02.457.02.51v4.84c0 .347.05.663.15.95.099.287.195.493.288.62.093.127.246.33.459.61a.6.6 0 0 1 .12.32c0 .107-.054.2-.16.28-1.103.96-1.7 1.48-1.794 1.56-.16.12-.352.133-.578.04a6.745 6.745 0 0 1-.488-.46c-.14-.147-.24-.253-.3-.32a4.49 4.49 0 0 1-.288-.39 8.18 8.18 0 0 0-.28-.39c-.743.813-1.474 1.32-2.191 1.52-.452.133-1.01.2-1.675.2-1.023 0-1.863-.317-2.52-.95-.658-.633-.987-1.53-.987-2.69Zm3.428-.4c0 .52.13.937.388 1.25.26.313.608.47 1.047.47.04 0 .096-.007.17-.02.072-.013.122-.02.149-.02.558-.147.99-.507 1.295-1.08.146-.253.256-.53.329-.83.073-.3.113-.543.12-.73.006-.187.01-.493.01-.92v-.5c-.771 0-1.356.053-1.754.16-1.17.333-1.754 1.073-1.754 2.22Zm8.37 6.44a.626.626 0 0 1 .12-.16c.332-.227.651-.38.957-.46a6.476 6.476 0 0 1 1.474-.22c.133-.013.26-.007.38.02.597.053.956.153 1.075.3.053.08.08.2.08.36v.14c0 .467-.126 1.017-.379 1.65-.252.633-.604 1.143-1.056 1.53-.066.053-.126.08-.18.08a.177.177 0 0 1-.079-.02c-.08-.04-.1-.113-.06-.22.492-1.16.738-1.967.738-2.42 0-.147-.027-.253-.08-.32-.133-.16-.505-.24-1.116-.24a9.32 9.32 0 0 0-.797.04c-.333.04-.638.08-.917.12-.08 0-.133-.013-.16-.04-.026-.027-.033-.053-.02-.08 0-.013.007-.033.02-.06Z" fill="#323E25" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div x-cloak @click="signInPanelOpen = false" :class="signInPanelOpen ? 'opacity-[0.3]' : 'opacity-0 pointer-events-none'" class="fixed transition-opacity top-0 left-0 w-screen h-screen bg-black opacity-[0.3] z-[1]"></div>
</div>
