<section id="icons" class="py-[60px]">
    <footer class="flex flex-wrap justify-center">
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/ceftified-logo-4.png?v=1664416650" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">Certified<br>
                Organic
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/ceftified-logo-2_73379983-9119-46a6-b7d9-16063bf053e4.png?v=1664846833"
                    alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">100%<br>
                Vegan
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/ceftified-logo-3_418cd6e5-c037-444e-bdb0-a22ee94b26f5.png?v=1664846849"
                    alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">100%<br>
                Raw
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/Gluten_Free.png?v=1664846862" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">Gluten<br>
                Free
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/Dairy_Free.png?v=1664846877" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">Dairy<br>
                Free
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/No_Refined_Sugars.png?v=1664846888" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">No<br>
                Refined Sugars
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/Paleo_Friendly.png?v=1664846970" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">Paleo<br>
                Friendly
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/Non_GMO.png?v=1664846982" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">Non<br>
                GMO
            </div>
        </article>
        <article class="w-1/3 md:flex-none p-4" x-intersect="$el.classList.add('!opacity-100')"
                 style="max-width: 8rem">
            <img
                    src="//cdn.shopify.com/s/files/1/1379/7759/files/Certified_Kosher.png?v=1664846996" alt="">
            <div class="text-center text-[12px] leading-[14px] pt-3">Kosher<br>
                Certified
            </div>
        </article>

    </footer>
</section>


<section>
    <hr>
    <div class="grid grid-cols-1 md:grid-cols-3 divide-x">

        <div class="p-[20px] lg:px-[30px]">
            <h3 class="text-3xl">RAPID DETOXIFICATION</h3>

            <div class="mt-4">
                <img src="https://cdn.shopify.com/s/files/1/1379/7759/files/antioxidants.jpg?v=1672708155"
                     alt="Juice Detox">
            </div>


            <p class="mt-4">
                The ingredients in our Cleanses have been carefully chosen for their abundant levels of the most
                powerful organic compounds found in the plant world: <i>Bromelain</i> from Pineapple,<i> Curcumin</i>
                from Turmeric,<i> Gingerol</i> from Ginger,<i> Quercetin</i> from Apple,<i> Withaferin</i> from
                Ashwagandha,<i> Schisandrin</i> from Schisandra Berry,<i> Glutathione</i> from Spinach,<i> Nitrates</i>
                from Beetroot, and <i>Naringin</i> from Grapefruit to name a few. These compounds can greatly assist
                your body's natural detoxification mechanisms.
            </p>
        </div>

        <div class="p-[20px] lg:px-[30px]">
            <h3 class="text-3xl">FEEL LIGHTER</h3>

            <div class="mt-4">
                <img src="https://cdn.shopify.com/s/files/1/1379/7759/files/enzymes.jpg?v=1672708155"
                     alt="Feel Lighter with Enzymes">
            </div>

            <p class="mt-4">
                Our juices are raw and never cooked with traditional heat pasteurization, meaning the sensitive
                3-dimensional proteins of the enzymes found in raw fruits and vegetables are not destroyed. Enzymes are
                critical for metabolic activities such as digestion, absorption, fighting off stress and fatigue, and
                even modulating gut microbiota. Taking a break from cooked foods devoid of most enzymatic activity and
                instead Cleansing with raw, living juices can quickly have a massive impact on the way you feel.
            </p>
        </div>

        <div class="p-[20px] lg:px-[30px]">
            <h3 class="text-3xl">SUPERB IMMUNE SUPPORT</h3>

            <div class="mt-4">
                <img src="https://cdn.shopify.com/s/files/1/1379/7759/files/adaptogens.jpg?v=1672708155"
                     alt="Superb Immune Support">
            </div>


            <p class="mt-4">
                We never cut corners with our ingredients or processing methods. Each ingredient is sourced in its raw,
                living, certified organic form whenever possible. This means we do not replace anything with powdered
                ingredients if it's available raw. We go the extra mile to source rarer adaptogens such as Maitake,
                Burdock Root, Aloe Vera, and Spirulina in their raw, unpowdered form because we believe it makes a major
                difference in bioavailability and overall immune system support.
            </p>
        </div>

    </div>

</section>


{% schema %}
{
  "name": "Cleanse Page Benefits",
  "settings": [],
  "presets": [
    {
      "name": "Cleanse Page Benefits"
    }
  ]
}
{% endschema %}

{% stylesheet %}
#shopify-section-subscribe{
display: none;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}