<section class="relative overflow-hidden border-b bg-greyed border-green">
    <article class="w-full group flex flex-col uppercase h-[440px] relative">
        <a href="/" class="absolute inset-0 z-40"></a>
        <header x-intersect="$el.classList.add('!opacity-100')" class="relative z-10 flex-1 transition-opacity duration-700 ease-in opacity-0">
            <h2 class="float-left translate-y-[175px] -translate-x-[120px] -rotate-90 text-white heading-1">{{ section.settings.heading }}</h2>
        </header>
        <figure class="absolute inset-0">
            <img class="object-cover w-full h-full transition-transform duration-700 ease-in-out group-hover:scale-105" src="{{ section.settings.image | image_url }}" alt="">
        </figure>
    </article>
</section>

{% schema %}
{
    "name": "Inner Page Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "presets": [
        {
            "name": "Inner Page Hero"
        }
    ]
}
{% endschema %}